.row {
    padding: 5px;
}
.card-title .icon-error {
    float: right;
    color: red;
    font-size: 20px;
    margin-left: 10px;
}

.card-title img {
    float: right;
    max-height: 5px;
    width: auto;
    margin-top: 8px;
}