.row {
    padding: 5px;
}
.card-title .btn {
    float: right;
    color: #666;
    background-color: white;
    border-color: #ccc;
    font-size: 12px;
    padding: 2px 4px 2px 4px;
    margin-left: 10px;
}