.btn-white {
    color: #111;
    background-color: #fff;
    border-color: #CCC;
}

#row-note-header {
    margin-bottom: -10px;
    padding: 10px;
}

#row-note-header .dropdown-menu .dropdown-item:last-child {
    padding: 0.25rem 10px;
}

#row-note-header .dropdown-menu .dropdown-item:last-child .btn{
    width: 100%;
    background: white;
    border-color: #eee;
}
