{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/chartbuilder.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/googlechart.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/stzchart.css') }}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/stzchart.js') }}"></script>
<div class="row" id="row1">
    <div class="col-5 card-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="card-title flex-justify">
                    <h4>Chart Builder</h4>
                    <small>
                        <button type="button" class="btn btn-light" id="btn-load">load</button>
                        <select class="custom-select" id="select-chart">
                            <option value="">차트를 선택</option>
                            {% for chart in charts %}
                            <option value="{{ chart['id'] }}">({{ chart['id'] }}) {{ chart['title'] }}</option>
                            {% endfor %}
                        </select>
                        <select class="custom-select" id="select-note">
                            {% for note in notes %}
                            <option value="{{ note['id'] }}">{{ note['title'] }}</option>
                            {% endfor %}
                        </select>
                    </small>
                </div>
                <form id="chart-data">
                    <input type="hidden" name="id" id="chart-id">
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">Title</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder="Title" name="title">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">Data</label>
                        <div class="col-sm-11">
                            <select class="form-control" name="resource">
                                <option selected value="0">Bigquery</option>
                                <option value="1">Livy</option>
                                <option value="2">DB</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">Graph</label>
                        <div class="col-sm-11">
                            <select class="form-control" name="graph_type">
                                <option selected value="line">line</option>
                                <option value="bar">bar</option>
                                <option value="table">table</option>
                                <option value="table_rtt">table_rtt</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">Header</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder="Header" name="graph_header">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">Option</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder="Options" name="graph_options">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">Width</label>
                        <div class="col-sm-11">
                            <select class="form-control" name="graph_width">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option selected value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">Query      Type</label>
                        <div class="col-sm-11">
                            <select class="form-control" name="query_type">
                                <option selected value="0">normal</option>
                                <option value="1">custom</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">Query      Params</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder="Query-Params" name="query_params">
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label class="col-sm-1 col-form-label">query</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" rows="20" name="query"></textarea>
                        </div>
                    </div>
                    <div class="text-right chart-button-group">
                        <button type="button" class="btn btn-danger" id="btn_update">UPDATE</button>
                        <button type="button" class="btn btn-info" id="btn_run">RUN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-7" id="result">
    </div>
</div>
<!-- hidden -->
<div class="card-wrapper" id="card-dummy" style="display:none;" >
  <div class="card">
    <div class="card-body">
      <h6 id="title" class="card-title">
          <select name="graph-width" onchange="changeGraphWidth(this);">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <select name="graph-type" onchange="changeGraphType(this);">
            <option value="line">line</option>
            <option value="bar">bar</option>
            <option value="table">table</option>
            <option value="table_rtt">table_rtt</option>
          </select>
          <i class="material-icons icon-error" id="icon-error" style="display:none;">&#xE002;</i>
          <img id="img-loading" src="{{ url_for('static',filename='images/800.gif') }}" style="display:none;">
      </h6>
      <div id="chart"></div>
        <div class="text-right chart-button-group">
          <button type="button" class="btn btn-primary" id="btn_add" style="display:none;">ADD</button>
        </div>
    </div>
  </div>
</div>
{% autoescape false %}
<script>
    google.charts.load('current', {'packages':['line','bar','table']});

    var charts = {{ '[]' if not charts else charts }};
    var selected_chart = null;

    $(window).ready(function() {
        var selected_chart_id = {{ 0 if not selected_chart_id else selected_chart_id }};
        if(selected_chart_id) {
            $('#select-chart').val(selected_chart_id);
            var chart = getChartById(selected_chart_id);
            $('#select-note').val(chart['note']);
            setChartData(chart);
        }
    });

    $('#btn-load').on('click', function(e) {
        var selectedId = $('#select-chart').val();
        setChartData(getChartById(selectedId));
    });

    function setChartData(chart) {
        traverseObject($('#chart-data').find('input,textarea,select'), function(object) {
            var val = null;
            if(object.name.includes("graph")) {
                var tokens = object.name.split("_");
                if(chart.graph.hasOwnProperty(tokens[1])) {
                    val = chart.graph[tokens[1]];
                }
            } else {
                if(chart.hasOwnProperty(object.name)) {
                    val = chart[object.name];
                }
            }
            if(val) {
                if('graph_options' === object.name) {
                    $(object).val(JSON.stringify(val));
                } else {
                    $(object).val(val);
                }
            }
        });
    }

    function getChartById(chart_id) {
        for(var chart_idx in charts) {
            var chart = charts[chart_idx];
            if(chart['id'] == chart_id) {
                return chart;
            }
        }
        return null;
    }

    function traverseObject(object, callback) {
        for(var i=0,len=object.length; i < len; i++ ) {
            callback.call(this, object[i]);
        }
    }

    function disable(object) {
        object.prop("disabled",true);
    }

    function enable(object) {
        object.prop("disabled",false);
    }

    function getChartData() {
        var chart = objectifyForm($('#chart-data').serializeArray());
        var graph = {'type':chart.graph_type, 'width':chart.graph_width, 'header':chart.graph_header.split(','), 'options':JSON.parse(chart.graph_options)};
        chart.graph = graph;
        chart.note = $('#select-note').val();
        return chart;
    }

    function addChartListener() {
      $('#btn_add').on('click', function(e) {
          disable($('#btn_add'));
          var chart = getChartData();
          console.log("add chart="+chart);
          $.ajax({
              url: "/charts",
              method: 'POST',
              contentType: "application/json; charset=utf-8",
              dataType: 'json',
              data: JSON.stringify({chart:chart}),
              success: function(data) {
                  console.log(data);
                  enable($('#btn_add'));
              }
          });
      });
    }

    $('#btn_update').on('click', function(e) {
        disable($('#btn_update'));
        disable($('#btn_run'));
        var chart = getChartData();
        console.log("update chart="+chart);
        $.ajax({
            url: "/charts/"+chart.id,
            method: 'PUT',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({chart:chart}),
            success: function(data) {
              console.log(data);
              enable($('#btn_update'));
              enable($('#btn_run'));
            }
        });
    });

    $('#btn_run').on('click', function(e) {
        $('#result').empty();
        disable($('#btn_update'));
        disable($('#btn_run'));
        var chart = getChartData();
        var card = addCard(chart, $('#result'));
        selected_chart = chart;
        console.log("run chart="+chart);
        card.find('#img-loading').show();
        $.ajax({
            url: "/charts/queries",
            method: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({
                query:chart.query,
                resource:chart.resource,
                query_type:chart.query_type,
                query_params:chart.query_params,
                chart_id:'tmp'}),
            success: function(data) {
                console.log("success data="+data);
                card.find('#img-loading').hide();
                if(!data.error) {
                    chart['data'] = data.results;
                    chart.graph.options.width = card.find('#chart').width();
                    drawGraph(card.find('#chart').get(0), chart);
                    card.find('#btn_add').show();
                    addChartListener();
                } else {
                    card.find('#icon-error').show();
                    drawError(card.find('#chart').get(0), data.error);
                }
                enable($('#btn_update'));
                enable($('#btn_run'));
            },
            error: function(error) {
                console.log("error data="+error);
                drawError(card.find('#chart').get(0), error);
                card.find('#img-loading').hide();
                card.find('#icon-error').show();
                enable($('#btn_update'));
                enable($('#btn_run'));
            }
        });
    });

    function objectifyForm(formArray) {
      var returnArray = {};
      for (var i = 0; i < formArray.length; i++){
        returnArray[formArray[i]['name']] = formArray[i]['value'];
      }
      return returnArray;
    }

    function addCard(chart, row) {
      //console.log(chart);
      // make card
      var card = makeCard(chart);
      row.append(card);
      if('table' === chart.graph.type) {
        chart.graph.options.width = '100%';
      } else {
        chart.graph.options.width = card.find('#chart').width();
      }
      //card.find('.card').height(card.find('.card').height()+chart.graph.options.height+32+33);
      // select options
      card.find('select[name=graph-type]').val(chart.graph.type);
      card.find('select[name=graph-width]').val(chart.graph.width);
      return card;
    }

    function drawError(graph, error) {
      $(graph).empty();
      if(error) {
        $(graph).append(JSON.stringify(error));
      }
    }

    function drawGraph(graph, chart) {
      $(graph).empty();
      // draw chart
      var container, json_data, options = null;
      if('bar' == chart.graph.type) {
        container = new google.charts.Bar(graph);
        json_data = google.visualization.arrayToDataTable([chart.graph.header].concat(chart.data));
        options = google.charts.Line.convertOptions(chart.graph.options);
      } else if('line' == chart.graph.type) {
        container = new google.charts.Line(graph);
        json_data = google.visualization.arrayToDataTable([chart.graph.header].concat(chart.data));
        options = google.charts.Line.convertOptions(chart.graph.options);
      } else if('table' == chart.graph.type) {
        chart.graph.options.width = '100%';
        container = new google.visualization.Table(graph);
        json_data = google.visualization.arrayToDataTable([chart.graph.header].concat(chart.data));
        options = google.charts.Line.convertOptions(chart.graph.options);
      } else if('table_rtt' == chart.graph.type) {
        container = new sundaytoz.chart.RetentionTable(graph);
        json_data = [chart.graph.header].concat(chart.data);
        options = Object.assign(chart.graph.options, JSON.parse(chart.query));
      }
      container.draw(json_data, options);
    }

    function makeCard(chart) {
      var card = $('#card-dummy').clone();
      card.attr('id',"chart-"+chart.id);
      card.attr('chart-id',chart.id);
      card.find('#title').append(chart.title);
      card.addClass('col-lg-'+chart.graph.width);
      card.css('display','');
      return card;
    }

    function changeGraphType(target) {
      var wrapper = $(target).closest('.card-wrapper');
      if(selected_chart) {
        selected_chart.graph.type = $(target).val();
        drawGraph($(wrapper).find('#chart').get(0), selected_chart);
      }
    }

    function changeGraphWidth(target) {
      var wrapper = $(target).closest('.card-wrapper');
      if(selected_chart) {
        var width = $(target).val();
        $(wrapper).removeClass('col-lg-'+selected_chart.graph.width).addClass('col-lg-'+width);
        selected_chart.graph.width = width;
        if('table' != selected_chart.graph.type) {
          selected_chart.graph.options.width = $(wrapper).find('#chart').width();
        }
        drawGraph($(wrapper).find('#chart').get(0), selected_chart);
      }
    }
</script>
{% endautoescape %}
{% endblock %}